@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="home">
    <h1>Rear View Planets</h1>
    <p class="lead">leading planetary review application</p>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>Add Your Planet</h2>
        <p>
            Have you been to a fantastic planet that exceeds expectations? Are you just dying to tell someone about your horrible experience on Jupiter?
            Write a review! First add the name of the planet by clicking below. Then add your review!
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Add your Planet", "Create", "Categories")></a></p>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>Write a Review</h2>
        <p>Once you've added a known planet, you are ready to start reviewing.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Add your Rear View Review", "Create", "Reviews") ></a></p>
    </div>
</div>