@model IEnumerable<PlanetReview.Models.Category>

@{
    ViewBag.Title = "Index";
}

@*The top of the page plus Create New Button*@
<div class="jumbotron" id="category">
    <h1>Rear View Planet</h1>
    <p>planets already reviewed</p>
    <p>@Html.ActionLink("Add New RearView", "Create", new { @class = "btn btn-primary", role = "button" })
</div>

@*Display for Planets in thumbnail.*@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Pictures/scifi.jpg" alt="Fantastic Planets">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.PlanetName)</h3>
                    <p>@Html.DisplayFor(modelItem => item.PlanetType)</p>
                    <p>@Html.ActionLink("Review this Planet", "Create", "Reviews", new { id = item.ID }, new { @class = "btn btn-primary", role = "button" })</p>
                </div>
            </div>
        </div>
    }
</div>



