body {
    font-family: 'Space Mono', monospace;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Pictures/dark-space-background-011.jpg');
    color: lightgrey;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Site Jumbotrons*/
/*Landing Page*/
#home {
    background-image: url('Pictures/bluefantasyplanet.jpg');
    background-size:cover;
    color: white;
}
/*Reviews Index*/
#reviews {
    background-image: url('Pictures/fantastyplanetwppl.jpg');
    background-size:cover;
    color: white;
}
/*Reviews Details*/
#reviewdetails
{
    background-image: url('Pictures/fantastyplanetwppl.jpg');
    background-size:cover;
    color: white;
}
/*Category Index*/
#category {
    background-image: url('Pictures/scifi.jpg');
    background-size:cover;
    color: white;
}

/*Buttons Adjust*/
.clickable {
    color:white;
}
.btn btn-default {
    border-radius: 50%;
}

/*Review Bubbles in Details*/
#details {
    background-image: url('Pictures/hubble.jpg');
    background-size:cover;    
}
#textdetails{
    color: white;
}

/*Review Cards on Index*/
#reviewCardBody{
    background-color:black;
}
#reviewCardText{
    color:white;
}

/*Navbar*/
.navbar {
    background-color:black;
}